#register{
    width: 85vw;
    height: auto;
    margin: 0 auto;
}
#card-box{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 10px;
    margin-top: 15vh;
    
}
#card-1{
    grid-column: 2/ span 3;
}
.card-2-3{
    grid-column: span 3;
}
#card-1, .card-2-3{
    justify-items: center;
}